body {
    padding: 0;
    margin: 0;
}
td{
	padding: 5px;
}
.map {
    padding: 10px;
    margin: 0;
	display: inline-block;
}

.map__res {
    padding: 0;
    margin: 10px 0;
    font-size: 14px;
    font-family: Arial;
}

.map__row {
    padding: 0;
    margin: 0;
    font-size: 0;
    white-space: nowrap;
}

.map__cell {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    border: 1px solid #eee;
}

.map__cell_water {
    background-color: #65a6ff;
}

.map__cell_visited_water{
    background-color: #0000ff;
}

.map__cell_visited_island{
    background-color: #ffa500;
}

.map__cell_find_island{
    background-color: #00ff00;
}

.map__cell_island {
    background-color: #fad946;
}
